.section__header{
    width: 100%;

    &-content{
        width: 100%;
        @include center;
        padding: 10%;

        &-title{
            font-family: $font-family-2;
            text-transform: uppercase;
            font-size: 3vw;
            padding-bottom: 10%;
            text-align: center;
            color: $main-color-7;

        }
        &-text{
            font-weight: 200;
            font-size: 2.5vw;
            text-align: start;
            line-height: 3vw;

        }
    }
}

@media ( max-width : 768px ) {
    .section__header-content{
        padding-top: 20%;
    }
}
