@import "../../utilities.scss";

.section__header{
    width: 100%;
    background-color: $main-background-color;

    &-content{
        width: 100%;
        @include center;
        padding: 10%;

        &-title{
            font-family: $font-family-2;
            text-transform: uppercase;
            font-size: 3vw;
            padding-bottom: 10%;
            text-align: center;
            color: $main-color-7;

        }
        &-text{
            font-weight: 200;
            font-size: 2.5vw;
            text-align: center;
            line-height: 3vw;

        }
    }
}

@media ( max-width : 768px ) {
    .section__header-content{

    }
}

@media ( max-width : 480px ) {
    .section__header{
    
    &-content{
        padding: 7% 7% 10% 7%;
        &-title{
            @include title-mobile-style;
        }

        &-text{
            @include text-mobile-style;
        }
    }
}
}