@import "../../utilities.scss";

.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    border-bottom: 2px solid $main-color-6;
    background-color: $main-background-color;
    
    &__left{
        @include center;
        display: flex;
        &-logo{
            display: flex;
            justify-content: center;
            width: 15vw;
            align-items: center;
            overflow: hidden;
            padding: 5% 10%;

            &-img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
        &-border{
            width: 2px;
            height: 80%;
            background-color: $main-color-6;
        
        }
    }
    &__right{
        @include center;
        display: flex;
        width: 62%;
        padding: 0 5%;
        &-nav{
            width: 100%;
            @include center;
            display: flex;
            justify-content: space-between;
            font-family: $font-family-1;
            color: $main-color-2;
            &-item{
              padding: 3% 1.5%;
              text-decoration: none;
              transition: color 0.3s ease; 
              transition: background-color 0.3s ease;
              border-radius: 5px;
              &, &:link, &:visited {
                color: $main-color-2; 
              }
            
              &:hover, &:focus {
                background-color: $main-color-5;
                color: $main-background-color;
              }
            
              &:active {
                color: $main-color-2;
              }
            }
        }
    }
}

.navbar__right-logo{
    display: none;
}

.menu-button{
    display: none;
}

@media (max-width: 500px) {
    .menu-button {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 5% 10%;
      background-color: $main-background-color;

    }

    .bar {
     width: 18px;
     margin: 10%;
     height: 2px;
     border-radius: 5px;
     background-color: $main-color-2;
    }

    .navbar__right-nav {
      padding-top: 3vw;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $main-background-color;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      z-index: 10;
      border-top: 2px solid $main-color-6;
      border-bottom: 2px solid $main-color-6;
      
      &--open {
        transform: translateX(0);
      }
      
      .navbar__right-nav-item {
        padding: 5vw 5vw;
        width: 100%;
        font-size: 5vw;
        text-transform: uppercase;
      }
    }
    
    .navbar__left{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        &-logo {
      display: none; 
    }
}

    .navbar__right{
        width: auto;
        padding: 0 2%;
        &-logo {
      display: flex;
      width: 43vw;
      justify-content: flex-end;
      padding: 1.2vw;

      &-img{
        width: 100%;
        height: 100%;
      }
    }
}

.menu-button.open .bar:nth-of-type(1) {
  transform: translateY(4px) rotate(45deg);
}
.menu-button.open .bar:nth-of-type(2) {
  opacity: 0;
}
.menu-button.open .bar:nth-of-type(3) {
  transform: translateY(-7.5px) rotate(-45deg);
}

}

@media (min-width : 500px ) and (max-width: 768px) {
    .menu-button {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 4% 8%;
      background-color: $main-background-color;

    }

    .bar {
     width: 35px;
     margin: 10%;
     height: 3px;
     border-radius: 5px;
     background-color: $main-color-2;
    }

    .navbar__right-nav {
      padding-top: 3vw;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $main-background-color;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      z-index: 10;
      border-top: 2px solid $main-color-6;
      border-bottom: 2px solid $main-color-6;
      
      &--open {
        transform: translateX(0);
      }
      
      .navbar__right-nav-item {
        padding: 5vw 5vw;
        width: 100%;
        font-size: 4vw;
        text-transform: uppercase;
      }
    }
    
    .navbar__left{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        &-logo {
      display: none; 
    }
}

    .navbar__right{
        width: auto;
        padding: 0 2%;
        &-logo {
      display: flex;
      width: 27vw;
      justify-content: flex-end;

      &-img{
        width: 100%;
        height: 100%;
      }
    }
}

.menu-button.open .bar:nth-of-type(1) {
  transform: translateY(8px) rotate(45deg);
}
.menu-button.open .bar:nth-of-type(2) {
  opacity: 0;
}
.menu-button.open .bar:nth-of-type(3) {
  transform: translateY(-12px) rotate(-45deg);
}

}
