@import "./pages/Home.scss";
@import "./components/navbar/Navbar.scss";
@import "./components/banner/Banner.scss";
@import "./components/about/About.scss";
@import "./components/scroller/Scroller.scss";
@import "./components/realisations/Realisations.scss";
@import "./components/footer/Footer.scss";
@import "./pages/plomberie/Plomberie.scss";
@import "./components/prestations/Prestations.scss";
@import "./components/article/Article.scss" ;

#root{
    background-color: #FFFDF7;
}
*, html{
   box-sizing: border-box;
   font-size: 16px;
   font-family: 'Roboto Condensed', sans-serif;
   scroll-behavior: smooth;
}

body {
    margin: auto;
    background-color:#FFFDF7;
}
